*{
 margin:0;
 padding:0;
    box-sizing:border-box;
}
.main-card{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    background-color:#000000;
}
.image-card{
    width:100%;
    height:100%;
    position:relative;
   
}
.image-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}
 .card-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.content-card{
    width:100%;
    padding:20px;
    text-align:center;
    position:absolute;
    top:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:rgba(245, 243, 243, 0.938);
    z-index:2;
}